@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
